* {
    color: white;
}

.dialogs {
    display: flex;
}
.dialogsItem {
    width: 15vw;
}
.dialogsItem .active{
    padding: 5px 20px;
    color:black
}
.dialog {
    padding: 5px 20px;
}

.message {
    padding: 15px 20px;
}